extends ../layout/layout

block content
  h1= title
  
  if error && error.length > 0
    h5 Error
    p.errorMessage= error
  if info && info.length > 0
    h5 Congrats
    p.infoMessage=  info
  
  form(action="/forgot/reset", method="post")
    div
      label new password:
      input(type="password", name="password")
    div
      label confirm password:
      input(type="password", name="confirm")
    div
      input(type="submit", value="reset password")
      
