extends ../layout/layout

block content
  h1= title
  
  if error && error.length > 0
    h5 Error
    p.errorMessage= error
  if info && info.length > 0
    h5 Congrats
    p.infoMessage=  info

  form(action="/forgot/username", method="post")
    div
      label email:
      input(type="text", name="email")
    div
      input(type="submit", value="forgot username")
      
